---
// import { Cannon } from "../../../frontend/lib/main";

import { Cannon } from "cannon-codeeditor";
import "cannon-codeeditor/dist/style.css";

---

<div id="cannon-codeeditor">
    <Cannon client:load initialFiles={{
        "Cargo.toml": `# Cargo.toml
    [package]
    name = "astro"
    version = "0.1.0"
    edition = "2021"
    `,
        "src/main.rs": `fn main() {
    println!("Hello, world!");
}
`
    }}
            initialOutput={
          `stderr:   Compiling hello_world v0.1.0 (/playground)
stderr:   Finished dev [unoptimized + debuginfo] target(s) in 0.31s
stderr:   Running \`/playground/target/debug/hello_world\`
Hello, world!
`
        }

    />
</div>



<style is:global>
    #cannon-codeeditor {
        width: 100%;
        font-size: clamp(0.7rem, calc(0.7rem + ((0.8 - 0.7) * ((100vw - 20rem) / (96 - 20)))), 0.8rem);
        vertical-align: middle;
    }

    #code-viewer {
        max-height:35vh;
        overflow:auto
    }

    #code-editor {
        max-height:35vh;
        overflow:auto
    }

    #code-viewer .cm-editor {
        min-height: 30vh;
    }

    #code-editor .cm-editor {
        min-height: 30vh;
    }
</style>
