---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Fullstack Framework",
    description:
      "Support languages that can be compiled on the frontend, but gives you an easily deployable Modal server for languages that can't.",
    icon: "mdi:handshake",
  },
  {
    title: "Configurable Themes",
    description:
      "Choose from a variety of themes, or create your own using ThemeMirror.",
    icon: "mdi:theme",
    todo: true,
  },
  {
    title: "Universal Language Support",
    description:
      "Cannon supports every language under the sun, with easy integration support to add more (client-side or server-side).",
    icon: "mdi:graph",
    todo: true,
  },
  {
    title: "Multi-Tab Editing",
    description:
      "Make your examples as complicated as you want with multi-tab editing - only keeping relevant lines in each tab.",
    icon: "mdi:tab",
    todo: true,
  },
  {
    title: "Headless Mode",
    description:
      "Easily configurable hooks to bring your own UI while using our language support.",
    icon: "mdi:head",
    todo: true,
  },
  {
    title: "Secure By Default",
    description:
      "Deploy your backend on Modal with an application-layer WAF to prevent misuse.",
    icon: "mdi:security",
    todo: true,
  },
];
---

<ContentSection title="Features" id="features">
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon, todo }) => (
        <li class="relative flex flex-col items-center gap-4 border border-default bg-offset p-6">
            {Boolean(todo) ?
                <div class="absolute top-12 left-12 transform -rotate-45 -translate-x-1/2 -translate-y-1/2 bg-red-600 text-white px-4 py-1">
                    TODO
                </div> :
                null
            }
            <!-- Icon Container -->
            <div class="h-16 w-16 rounded-full border-2 border-current p-3">
                <Icon name={icon} />
            </div>
            <!-- Title -->
            <p class="text-center font-extrabold text-xl">{title}</p>
            <!-- Description -->
            <p class="text-center text-offset text-sm">{description}</p>
        </li>

      ))
    }
  </ul>
</ContentSection>
