---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://astro.build/",
    description: "Astro's official website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/mhyfritz/astro-landing-page",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://astro.build/chat",
    description: "Astro on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex h-64 items-center justify-center text-secondary pl-2 pr-2">
    <ul>
        <li class="mb-1 text-center"> Inspired by <a class="ml-1 inline items-center gap-3 hover:text-secondary text-primary" href="https://sandpack.codesandbox.io/"> Sandpack from <Icon name="code-sandbox" class="h-5 inline"/></a> </li>
        <li class="mb-1 text-center"> Built with <a href="https://codemirror.net/" class="ml-1 mr-1 items-center gap-1 hover:text-secondary text-primary inline"><Icon name="codemirror" class="h-5 inline" /> CodeMirror </a> and <a href="https://modal.com/" class="ml-1 mr-1 inline items-center gap-1 hover:text-secondary text-primary"><Icon name="modal" class="h-5 inline" /></a></li>
        <li class="mb-1 text-center"> Landing page built with <a href="https://astro.build/themes/details/astro-landing-page/" class="ml-2 mr-1 inline items-center gap-1 hover:text-secondary text-primary"><Icon name="astro" class="h-5 inline" /> Astro </a></li>
        <li class="mb-1 text-center"> Logo and colors inspired by my roommate's support of the <a href="https://arsenal.com" class="ml-2 mr-1 inline items-center gap-1 hover:text-secondary text-primary">Worst Football Club</a> in existence.</li>
    </ul>
</footer>
