---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Build Better Blogs." id="intro">
  <Icon slot="eyebrow" name="cannon" class="h-64" />
  <Fragment slot="lead">
    Cannon is a new kind of code viewer
    <span class="text-primary">modern</span> web.
    <span class="text-primary">View, edit and run your code</span>
     within the comfort of <span class="text-primary">Chrome</span>.
  </Fragment>
</ContentSection>
