---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Showcase" id="showcase">
  <Fragment slot="lead">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:grid-cols-3 align-middle">
      {orderedSites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <div class="flex justify-center items-center">
        <h2 class="text-3xl font-bold text-center" style="font-family: 'Dancing Script', cursive;">
            Who's using it? Nobody except <a href="https://twitter.com/cryingpotat0" class="text-secondary hover:text-primary">me.</a>
        </h2>
    </div>
  </Fragment>
</ContentSection>
